*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.header{
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.699), rgba(0, 0, 0, 0.699)), url(../images/main/menu-back.jpg) ;
    background-size: cover;
}

.section{
    margin-top: 80px;
   
    margin-bottom: 80px;
}


.img-items{
    
    width: 230px;
    height: 260px;
    
}



.contain-items{
    position: relative;
    background-image: linear-gradient(to right bottom, rgba(31, 1, 22, 0.699), rgba(0, 0, 0, 0.699));
    margin-left: 40px;
    overflow: hidden;
    height: 320px;
    width: 230px;
    background-color: white;
    border-radius: 40px;
}

.price{
    position: absolute;
    bottom: 15px;
    left: 28px;
    font-style: italic;
    color: white;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btn-new{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    text-decoration: none;
    position: absolute;
    bottom: 10px;
    right: 25px;
    width: 70px;
}

#lbl{
    color: white;
}

